body {
    background-color: rgb(140, 210, 253);
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
}
   
h1 { background-color: rgb(253, 131, 70);
    color: black;
    margin-left: 100px;
}
          
nav a { background-color: rgb(14, 225, 190);
    color: rgb(20, 20, 20);
    text-decoration: none;
}
header {
    background-color: rgb(94, 250, 130);
    color: rgb(255, 220, 82);
    padding: 10px;
    text-align: center;
    
}

 nav li {
    display: inline;
    margin-right: 20px;
 }
 footer {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    position: fixed;
    text-align: center;
    bottom: 0%;
    width: 100%;
    
 }
 div { 
    background-color: rgb(243, 16, 16);
 }

 #myheader {
    background-color: rgb(57, 88, 88);
    color: black;
    padding: 10px;
 }
 